publish_local.sh

# Adopted from https://github.com/eSolia/eSolia_2018/blob/main/.gitignore

# Hugo
public/

# Backup Files
*.markdown~
*.md~

# Logs
logs
*.log


# Mac File System File...utterly useless to anyone but me.
.DS_Store
