<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Bibliography</title>
</head>
<body>
<div class="csl-bib-body" style="line-height: 1.35; ">
  <div class="csl-entry">POCHET, Yves und WOLSEY, Laurence A., 2006. <i>Production planning by mixed integer programming</i>. New York ; Berlin: Springer. Springer series in operations research and financial engineering. ISBN&nbsp;978-0-387-29959-4. <div class="csl-right-inline" style="margin: 0 .4em 0 0em;">MLCM 2006/40914 (T)</div>
  </div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-387-29959-4&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Production%20planning%20by%20mixed%20integer%20programming&amp;rft.place=New%20York%20%3B%20Berlin&amp;rft.publisher=Springer&amp;rft.series=Springer%20series%20in%20operations%20research%20and%20financial%20engineering&amp;rft.aufirst=Yves&amp;rft.aulast=Pochet&amp;rft.au=Yves%20Pochet&amp;rft.au=Laurence%20A.%20Wolsey&amp;rft.date=2006&amp;rft.tpages=499&amp;rft.isbn=978-0-387-29959-4"></span>
</div></body>
</html>
